// Colors

// UGA Palette
$arch: #000000;
$bulldog: #BA0C2F;
$chapelbell: #FFFFFF;
$gloryglory: #E4002B;
$pandora: #FFCD00;
$sanford: #554F47;
$stegeman: #9EA2A2;
$hedges: #B7BF10;
$hertyfield: #594A25;
$creamery: #D6D2C4;
$lakeherrick: #00A3AD;
$olympic: #004E60;
$athens: #66435A;
$odyssey: #C8D8EB;

$arch-invert: findColorInvert($arch);
$bulldog-invert: findColorInvert($bulldog);
$chapelbell-invert: findColorInvert($chapelbell);
$gloryglory-invert: findColorInvert($gloryglory);
$pandora-invert: findColorInvert($pandora);
$sanford-invert: findColorInvert($sanford);
$stegeman-invert: findColorInvert($stegeman);
$hedges-invert: findColorInvert($hedges);
$hertyfield-invert: findColorInvert($hertyfield);
$creamery-invert: findColorInvert($creamery);
$lakeherrick-invert: findColorInvert($lakeherrick);
$olympic-invert: findColorInvert($olympic);
$athens-invert: findColorInvert($athens);
$odyssey-invert: findColorInvert($odyssey);

// Standard Names
$bright-red: $gloryglory;
$grey: $sanford;
$gray: $grey;
$medium-grey: $grey;
$medium-gray: $grey;
$light-grey: $stegeman;
$light-gray: $light-grey;
$dark-grey: darken($sanford, 20%);
$dark-gray: $dark-grey;
$light-green: $hedges;
$brown: $hertyfield;
$beige: $creamery;
$bright-blue: $lakeherrick;
$light-blue: $odyssey;

$black:        $arch;
$black-bis:    lighten($black, 7%);
$black-ter:    lighten($black, 14%);

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$white:        $chapelbell;
$white-ter:    darken($white, 4%);
$white-bis:    darken($white, 2%);

$orange:       hsl(14,  100%, 53%);
$yellow:       $pandora;
$green:        $hedges;
$turquoise:    $lakeherrick;
$cyan:         hsl(204, 86%,  53%);
$blue:         $olympic;
$purple:       $athens;
$red:          $bulldog;

// Typography
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,700,800|Merriweather:300,300i,400,400i,700,900|Oswald:200,300,400,500,700');

$family-sans-serif: 'Merriweather Sans', Tahoma, 'Helvetica Neue', Arial, sans-serif;
$family-serif: Merriweather, Georgia, 'Times New Roman', Times, serif;
$family-block: Oswald, Impact, Tahoma, 'Arial Narrow', Arial, sans-serif;
$family-monospace: monospace;
/*$render-mode: optimizeLegibility;*/

$size-1: 3rem;
$size-2: 2rem;
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.875rem;

$weight-light: 100;
$weight-normal: 300;
/*$weight-medium: 500;*/
/*$weight-semibold: 600;*/
/*$weight-bold: 700;*/

$body-weight: $weight-normal;
$body-line-height: 1.8;

$nav-width: 300px;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
/*$gap: 64px;*/
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
/*$tablet: 769px;*/
// 960px container + 4rem
/*$desktop: 960px + (2 * $gap);*/
// 1152px container + 4rem
/*$widescreen: 1152px + (2 * $gap);*/
/*$widescreen-enabled: true;*/
// 1344px container + 4rem
/*$fullhd: 1344px + (2 * $gap);*/
/*$fullhd-enabled: true;*/

// Miscellaneous

/*$easing: ease-out;*/
/*$radius-small: 2px;*/
/*$radius: 4px;*/
/*$radius-large: 6px;*/
/*$radius-rounded: 290486px;*/
/*$speed: 86ms;*/

// Flags

$variable-columns: true;

// Derived Variables

$primary: $red;

$info: $blue;
/*$success: $green;*/
/*$warning: $yellow;*/
$danger: $bright-red;

/*$light: $white-ter;*/
/*$dark: $grey-darker;*/

// Invert colors

/*$orange-invert: findColorInvert($orange);*/
/*$yellow-invert: findColorInvert($yellow);*/
/*$green-invert: findColorInvert($green);*/
/*$turquoise-invert: findColorInvert($turquoise);*/
/*$cyan-invert: findColorInvert($cyan);*/
/*$blue-invert: findColorInvert($blue);*/
/*$purple-invert: findColorInvert($purple);*/
/*$red-invert: findColorInvert($red);*/

/*$primary-invert: $turquoise-invert;*/
/*$info-invert: $cyan-invert;*/
/*$success-invert: $green-invert;*/
/*$warning-invert: $yellow-invert;*/
/*$danger-invert: $red-invert;*/
/*$light-invert: $dark;*/
/*$dark-invert: $light;*/

// General colors

/*$background: $white-ter;*/

/*$border: $grey-lighter;*/
/*$border-hover: $grey-light;*/

// Text colors

$text: $black-bis;
/*$text-invert: findColorInvert($text);*/
/*$text-light: $grey;*/
/*$text-strong: $grey-darker;*/

// Code colors

/*$code: $red;*/
/*$code-background: $background;*/

/*$pre: $text;*/
/*$pre-background: $background;*/

// Link colors

$link: $turquoise;
$link-invert: $white;
$link-visited: $blue;

$link-hover: $blue;
$link-hover-border: $blue;

$link-focus: $blue;
/*$link-focus-border: $blue;*/

/*$link-active: $grey-darker;*/
/*$link-active-border: $grey-dark;*/

// Typography

$family-primary: $family-serif;
$family-code: $family-monospace;

/*$size-small: $size-7;*/
/*$size-normal: $size-6;*/
/*$size-medium: $size-5;*/
/*$size-large: $size-4;*/

// Lists and maps
/*$custom-colors: null;*/
/*$custom-shades: null;*/

$custom-colors: (
    "arch": ($arch, $arch-invert),
    "bulldog": ($bulldog, $bulldog-invert),
    "chapelbell": ($chapelbell, $chapelbell-invert),
    "gloryglory": ($gloryglory, $gloryglory-invert),
    "lakeherrick": ($lakeherrick, $lakeherrick-invert),
    "hedges": ($hedges, $hedges-invert),
    "olympic": ($olympic, $olympic-invert),
    "sanford": ($sanford, $sanford-invert),
    "hertyfield": ($hertyfield, $hertyfield-invert),
    "athens": ($athens, $athens-invert),
    "stegeman": ($stegeman, $stegeman-invert),
    "creamery": ($creamery, $creamery-invert),
    "odyssey": ($odyssey, $odyssey-invert)
);

$custom-shades: (
    "sanford-bis": tint($sanford, 30%),
    "sanford-ter": tint($sanford, 50%),
    "stegeman-bis": tint($stegeman, 30%),
    "stegeman-ter": tint($stegeman, 50%), 
    "stegeman-quater": tint($stegeman, 75%),
    "creamery-bis": tint($creamery, 30%),
    "creamery-ter": tint($creamery, 50%),
    "creamery-quater": tint($creamery, 75%),
    "odyssey-bis": tint($odyssey, 30%),
    "odyssey-ter": tint($odyssey, 50%),
    "odyssey-quater": tint($odyssey, 75%)
);

/*$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;*/

$message-header-body-border-width: 0 0 0 4px; 
$message-header-padding: 1.25rem 1.5rem 0;
$message-body-padding: 1.25rem 1.5rem;