/*!
Theme Name: Whatchagot Loran
Theme URI: http://underscores.me/
Author: Derek Greer
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: whatchagot-loran
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Whatchagot Loran is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */
/*override default bulma variables*/
@import "bulma-variables";

@import "utilities/all";
/*@import "utilities/initial-variables";
@import "utilities/functions";
@import "utilities/derived-variables";
@import "utilities/animations";
@import "utilities/mixins";
@import "utilities/controls";*/

@import "base/all";

/* ELEMENTS */
/*@import "elements/all";*/
@import "elements/box";
@import "elements/button";
@import "container"; // LOCAL
@import "content"; // LOCAL
@import "elements/form";
@import "elements/icon";
@import "elements/image";
@import "elements/notification";
/*@import "elements/progress";*/
@import "elements/table";
@import "elements/tag";
@import "elements/title";
@import "elements/other";

/* COMPONENTS */
/*@import "components/all";*/
@import "components/breadcrumb";
@import "components/card";
@import "components/dropdown";
/*@import "components/level";*/
@import "components/media";
@import "components/menu";
@import "components/message";
/*@import "components/modal";*/
/*@import "components/navbar";*/
@import "components/pagination";
/*@import "components/panel";*/
/*@import "components/tabs";*/

@import "grid/all";

/*@import "layout/all";*/
/*@import "layout/hero.sass";*/
@import "layout/section.sass";
@import "layout/footer.sass";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*@import "normalize";*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*@import "typography/typography";*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*@import "elements/elements";*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*@import "forms/forms";*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*@import "navigation/navigation";*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

.screen-reader-text {
    @extend .is-sr-only;
}

html {
    /*font-size: calc(.85em + .5vw);*/
}

body {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
}

img {
    vertical-align: bottom;
}

.site {
    flex: 1;
    overflow-y: hidden;
    &__header {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /*-ms-overflow-style: auto;*/
        & + .site__content-wrapper {
            padding-bottom: 4.8125rem;
            @include desktop() {
                padding-bottom: 0;
            }
        }
    }
    &__content-wrapper {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /*-ms-overflow-style: auto;*/
    }
}

figure {
    max-width: 100%;
}

.global {
    &-header {
        display: flex;
        font-size: .75rem;
        padding: 0 1rem;
        /*height: 50px;*/
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-bottom: solid 1px $red;
        /*font-size: .875rem;*/
        &__logo-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: transparent url('./img/GEORGIA-XH-FC.svg') left center no-repeat;
            background-size: contain;
            width: 200px;
            height: 20px;
            text-indent: -9999px;
            margin: 9px 0;
        }
        &__logo {
            width: 200px;
        }
        &__nav {
            display: flex;
        }
        &__menus {
            display: none;
            @include desktop() {
                display: flex;
            }
        }
        &__links {
            font-weight: $weight-medium;
            display: flex;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            a {
                padding: .5rem;
            }
        }
        &__resource-links {
            li {
                &:not(:last-child) {
                    border-right: solid 1px fade-out($black, .90);
                }
            }
            a {
                color: fade-out($black, .2);
                &:hover,
                &:focus {
                    color: $black;
                    text-decoration: underline;
                }
            }
        }
        &__social-links {
            a {
                /*text-indent: -9999px;*/
                color: $red;
            }
        }
    }
    &-footer {
        background-color: $black;
        color: $white;
    }
}

.menu {
    ul {
        /*@extend .menu-list;*/
    }
}

.site {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    &__header {
        /*padding: 1rem;*/
        background-color: $white;
        /*display: none;*/
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        border-style: solid;
        border-color: $grey-darker;
        border-width: 0 0 0 0;
        @include desktop() {
            background-color: darken($white, 5%);
            position: relative;
            width: auto;
            min-width: $nav-width;
            display: block;
            border-color: darken($white, 10%);
            border-width: 0 1px 0 0;
        }
        &-content {
            display: none;
            &[aria-hidden=false] {
                display: block;
            }
            height: calc(100vh - 4.8125rem);
            overflow-y: scroll;
            @include desktop() {
                display: block;
                height: auto;
                overflow-y: auto;
            }
        }
        .site__navigation {
            
        }
    }
    &__search {
        margin-bottom: 2rem;
    }
    &__branding {
        padding: 2rem 1rem;
        /*display: none;*/
        @include desktop() {
            display: block;
        }
    }
    &__mobile-nav {
        background-color: $grey-darker;
        display: flex;
        justify-content: center;
        padding: 1rem 1.5rem;
        @include desktop() {
            display: none;
        }
        button {
            @extend .button;
            @extend .is-medium;
            @extend .is-dark;
            &[aria-expanded=true] {
                @extend .is-light;
            }
        }
    }
    &__title {
        a {
            display: block;
        }
    }
    &__description {
        font-style: italic;
        font-size: .75rem;
        display: none;
    }
    &__navigation {
        .menu {
            background-color: darken($white, 1%);
            font-family: $family-block;
            font-weight: 400;
            text-transform: uppercase;
            border-top: solid 1px $grey-lighter;
            > .menu-item {
                border-bottom: solid 1px fade-out($black, .9);
                &-has-children {
                    > a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        //&:after,
                        .toggle {
                            content: '';
                            /*background: transparent url('./img/banner-vertical-red.svg') center center no-repeat;*/
                            /*width: 10px;*/
                            /*height: 10px;*/
                            padding: 0;
                            background-size: 10px 10px;
                            transform: rotate(0deg);
                        }
                        &:hover {
                            //&:after,
                            .toggle {
                                /*background-image: url('./img/banner-vertical-white.svg');*/
                            }
                        }
                        &[aria-expanded=true] {
                            //&:after,
                            .toggle {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
            a {
                display: block;
                padding: .5rem 1rem;
                color: $grey-dark;
                &:hover {
                    color: $white;
                    text-shadow: 0 1px 1px fade-out($black, .6);
                    background-color: fade-out($black, .2);
                }
            }
            > .current-menu-item,
            > .current-menu-ancestor {
                > a {
                    color: $white;
                    text-shadow: 0 1px 1px fade-out($black, .6);
                    background-color: $red;
                }
            }
            .current-menu-ancestor,
            .current-menu-item.menu-item-has-children {
                > a {
                    //&:after,
                    .toggle {
                        /*background-image: url('./img/banner-vertical-white.svg');*/
                    }
                }
            }
        }
        .sub-menu {
            display: none;
            /*background-color: $white;*/
            /*text-transform: none;*/
            /*font-family: $family-sans-serif;*/
            /*font-size: .875rem;*/
            font-weight: $weight-normal;
            .menu-item {
                border-bottom: none;
                &-has-children {
                    > a {
                        //&:after,
                        .toggle {
                            content: '' !important;
                        }
                    }
                }
            }
            a {
                padding-left: 2rem;
                border-bottom: none;
                &:hover {
                    color: $black;
                    background-color: fade-out($beige, .8);
                    text-shadow: none;
                }
            }
            .current-menu-item {
                > a {
                    color: $black;
                    background-color: fade-out($beige, .8);
                    text-shadow: none;
                }
            }
            .sub-menu {
                display: block;
                a {
                    padding-left: 3rem;
                }
                .sub-menu {
                    a {
                        padding-left: 4rem;
                    }

                }
            }
        }
        .current-menu-item,
        .current-menu-ancestor {
            &.menu-item-has-children {
                .sub-menu {
                    /*display: block;*/
                }
            }
        }
        [aria-expanded=true] {
            + .sub-menu {
                display: block;
                transform: none;
                visibility: visible;
            }
        }
    }
    &__content-area {
        
    }
    &__content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__content {
        flex: 1 0 auto;
        /*padding: 0 2rem;*/
        box-sizing: border-box;
    }
    &__main {
        + .site__widget-area {
            margin-top: 1rem;
        }
    }
    &__widget-area {
        /*@extend .content;*/
        background-color: fade-out($beige, .8);
        border: solid 1px fade-out($beige, .5);
        padding: 1rem;
        &-content {
            @extend .columns;
            @extend .is-multiline;
        }
        .widget {
            @extend .column;
            @extend .is-narrow;
            @extend .is-6-tablet;
            @extend .is-4-widescreen;
            ul {
                /*@extend .menu-list;*/
            }
            &-title {
                font-family: $family-block;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: $grey-dark;
                margin-bottom: .5rem;
                &:after {
                    content: "";
                    display: block;
                    width: 2rem;
                    background-color: fade-out($grey, .8);
                    height: 3px;
                    margin-top: 0;
                }
            }
        }
    }
    &__footer {
        width: 100%;
        
    }
    &__info {
        
    }
}

.page {
    &__header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: solid 8px fade-out($grey, .9);
        /*display: flex;*/
        padding: 1rem 0 2rem 0;
        margin-bottom: 2rem;
        overflow: hidden;
        /*background: linear-gradient(100deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);*/
        &-background {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            background-position: right top;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
            transform: scale(1.1, 1.1);
            transform-origin: top right;
            opacity: .03;
            width: 60%;
            @include tablet() {
                background-size: contain;
            }
            @include widescreen() {
                width: 50%;
            }
        }
        .breadcrumbs {
            width: 100%;
            flex: 1 0 100%;
            /*order: 1;*/
            margin: 0 0 1rem 0;
            @include desktop() {
                /*order: -1;*/
                /*margin: 0 0 1rem 0;*/
            }
            /*display: flex-inline;*/
            /*align-items: flex-start;*/
            flex-wrap: wrap;
            justify-content: flex-start;
            color: $grey-lighter;
            span {
                align-items: center;
                /*display: flex;*/
                /*flex-wrap: wrap;*/
                &:not(:first-child) {
                    &:before {
                        /*content: "/";*/
                        /*margin: 0 .5rem 0 0;*/
                        /*color: $grey-lighter;*/
                    }
                }
            }
            a {
                display: inline-block;
            }
            .breadcrumb_last {
                color: $grey-dark;
            }
        }
    }
    &__title {
        font-size: 4rem;
        font-size: calc(2.25em + 2.5vw);
        line-height: 1.2;
        /*width: 50%;*/
        margin-bottom: 1rem;
        @include widescreen() {
            flex-basis: 47.5%;
            flex-grow: 1;
            margin-bottom: 0;
            margin-right: 5%;
        }
    }
    &__excerpt {
        display: none;
        /*display: flex;*/
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        font-size: calc(1em + .375vw);
        color: $grey-dark;
        @include widescreen() {
            flex-basis: 47.5%;
        }
        @include desktop() {
            display: flex;
        }
    }
}
.entry {
    &__content {
        /*@include clearfix();*/
        clear: both;
    }
    &__page-links {
        @include clearfix();
        clear: both;
        a {
            /*@extend .pagination-link;*/
        }
        &-list {
            /*@extend .pagination-list;*/
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
    }
    &__cat-links {
        display: block;
    }
    &__tag-links {
        display: block;
    }
}

.entry--search {
    border-bottom: solid 1px $grey-lighter;
    padding-bottom: 2rem;
    .entry__header {
        /*border-bottom: solid 1px fade-out($black, .95);*/
        margin-bottom: 1rem;
        /*padding-bottom: 1rem;*/
        position: relative;
        display: flex;
        justify-content: space-between;
        &-content {
            flex: 1 0 auto;
        }
    }
    .entry__title {
        font-size: 2rem;
        font-family: $family-block;
        text-transform: uppercase;
        flex: 1 0 100%;
        a {
            color: $red;
            transition: color 100ms ease-in;
            &:hover,
            &:focus {
                color: darken($red, 10%);
            }
        }
    }
    .entry__meta {
        /*padding: .5rem 1rem;*/
        font-style: italic;
        /*background-color: $white-ter;*/
        color: $grey-dark;
        a {
            color: $grey;
        }
    }
}

.search-entry {
    &__footer {
        /*background-color: $white-ter;*/
        /*padding: 1rem;*/
        
    }
    
}

.content {
    h1 {
        font-size: 4rem;
    }
    h2 {
        padding-top: 1rem;
        font-size: 3rem;
        font-family: $family-serif;
        font-weight: $weight-medium;
        color: $red;
        /*padding-right: 1rem;*/
        /*display: inline-block;*/
        &:not(:first-child) {
            border-top: solid 4px fade-out($grey, .9);
            padding-top: 2rem;
            margin-top: 8rem;
        }
    }
    h3 {
        &:not(:first-child) {
            margin-top: 4rem;
        }
        font-size: 2.25rem;
        font-family: $family-block;
        text-transform: uppercase;
        font-weight: $weight-normal;
        &:after {
            content: "";
            display: block;
            width: 2.5rem;
            background-color: fade-out($grey, .8);
            height: 4px;
            margin-top: .5rem;
        }
    }
    h4 {
        &:not(:first-child) {
            margin-top: 3rem;
        }
        font-size: 1.375rem;
        font-weight: $weight-normal;
        /*font-family: $family-block;*/
        /*text-transform: uppercase;*/
    }
    h5 {
        &:not(:first-child) {
            margin-top: 2rem;
        }
        font-size: 1.125rem;
        font-family: $family-block;
        text-transform: uppercase;
        color: $grey-dark;
        font-weight: $weight-normal;
    }
    h6 {
        &:not(:first-child) {
            margin-top: 1rem;
        }
        font-family: $family-block;
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: $weight-normal;
        /*text-transform: uppercase;*/
        color: $grey-dark;
    }
    pre {
        white-space: pre-wrap;
    }
    /*figure {
        margin-left: 0;
        margin-right: 0;
        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
        &.alignleft {
            margin-right: 1.5rem;
        }
        &.alignright{
            margin-left: 1.5rem;
        }
    }*/
    ul:first-child {
        margin-top: 0;
    }
    @include mobile() {
        .aligncenter,
        .alignleft,
        .alignright {
            display: block;
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        /*figure {
            &.aligncenter,
            &.alignleft,
            &.alignright {
                display: block;
                float: none;
                margin-left: auto;
                margin-right: auto;
            }
        }*/
    }
}

.post-edit-link {
    @extend .button;
    @extend .is-info;
    @extend .is-small;
    /*@extend .is-outlined;*/
}

.more-link {
    @extend .button;
    @extend .is-light;
    @extend .is-small;
    /*@extend .is-outlined;*/
}

#ez-toc-container {
    font-family: $family-sans-serif;
    @include desktop() {
        display: none;
        + h2 {
            margin-top: 0;
            border-top: 0;

        }
    }
    ul {
        @extend .menu-list;
        list-style: none;
        margin-left: 0;
        margin-top: 0;
    }
    .ez-toc {
        &-title {
            font-family: $family-block;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1.75rem;
            color: $sanford;
            margin-bottom: 1rem;
            &:after {
                content: "";
                display: block;
                width: 1.5em;
                background-color: fade-out($grey, .8);
                height: 4px;
                margin-top: .25rem;
            }
            &-toggle {
                display: none;
            }
        }
        &-list {
            ul {
                display: none;
            }
        }
    }
}

.logo {
    img {
        padding: 1rem;
        @include desktop() {
            padding: 2rem;
        }
    }
}

.footable {
    table.footable-details {
        > tbody > tr > td:nth-child(2) {
            word-break: unset;
        }
        th {
            font-weight: $weight-medium;
        }

    }
    .footable-toggle {
        margin-right: .5rem;
        color: fade-out($black, .8);
    }
}

.front-page {
    &__logo {
        max-width: 600px;
        @include tablet() {
            max-width: 400px;
        }
        @include desktop() {
            max-width: 300px;
        }
        @include widescreen() {
            /*max-width: 300px;*/
        }
        &:after {
            content: "";
            display: block;
            width: 2rem;
            background-color: fade-out($grey, .8);
            height: 3px;
            margin-top: 0;
        }
    }
    h2 {
        font-family: $family-serif;
        font-weight: $weight-bold;
        color: $grey-darker;
        font-size: calc(2.5em + 2.5vw);
        line-height: 1;
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.6;
    }
    &__header {
        margin-bottom: 4rem;
        @include tablet() {
            margin-bottom: 6rem;
        }
        @include desktop() {
            margin-bottom: 8rem;
        }
    }
    &__menu {
        list-style: none;
        margin-left: 0;
        font-size: 1.5rem;
        li {
            /*margin-bottom: .5rem;*/
            display: flex;
            width: 100%;
            /*&:after {
                content: "";
                border-style: solid;
                border-width: 36px;
                border-color: transparent transparent transparent $red;
                width: 36px;
                height: 100%;
            }*/
        }
        a {
            position: relative;
            overflow: hidden;
            display: flex;
            flex: 1 0 0;
            align-items: center;
            color: $grey-dark;
            font-family: $family-block;
            font-weight: $weight-normal;
            text-transform: uppercase;
            padding: .75rem 1.5rem;
            border-style: solid;
            border-color: $grey-lighter;
            border-width: 0 0 1px;
            transition: all 80ms ease-in;
            &:before {
                content: "";
                width: 15px;
                height: 15px;
                flex: auto 0 0;
                background: transparent url('./img/banner-vertical-red.svg') center center no-repeat;
                background-size: contain;
                margin-right: 1rem;
                transform: rotate(-90deg);
            }
            &:hover,
            &:focus {
                color: $white;
                text-shadow: 0 1px 1px fade-out($black, .6);
                background-color: $red;
                border-color: $red;
                &:before {
                    background-image: url('./img/banner-vertical-white.svg');
                    filter: drop-shadow(0 0 1px fade-out($black, .6));
                }
                .front-page__menu-thumb {
                    opacity: .25;
                    filter: invert(100%);
                }
            }
            span {
                /*flex: 1 0 auto;*/
            }
        }
        &-thumb {
            /*width: 50px;*/
            /*max-height: 1em;*/
            /*opacity: .1;*/
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 2em;
            opacity: .1;
            transform: translate(0, 20%);
            /*transition: opacity 80ms ease-in;*/
        }
    }
}

.color-swatch {
    padding: 1.5rem;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        $color-lightning: max((100% - lightness($color)) - 2%, 0%);
        $color-luminance: colorLuminance($color);
        $darken-percentage: $color-luminance * 20%;
        $desaturate-percentage: $color-luminance * 1%;
        $border-color: desaturate(darken($color, $darken-percentage), $desaturate-percentage);
        &.is-#{$name} {
            /*border-color: $border-color;*/
            border-color: transparent;
            background-color: $color;
            color: $color-invert;
            .color-swatch__mix {
                border-color: $border-color;
            }
        }
        &.is-white {
            border-color: $grey-lighter;
        }
        
    }
    &__mix {
        border-style: solid;
        /*border-color: fade-out($black, .85);*/
        border-width: 0 0 1px 0;
        font-family: Consolas, monaco, monospace;
        font-size: .875rem;
        display: flex;
        justify-content: space-between;
        padding: .125rem 0;
    }
    &__name {
        font-family: $family-block;
        line-height: 1;
        font-size: 1.375rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: $weight-medium;
    }
}

.message,
.notification {
    /*font-family: $family-sans-serif;*/
}

.message {
    &-header {
        font-family: $family-block;
        text-transform: uppercase;
        font-weight: $weight-medium;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:after {
            content: "";
            display: block;
            width: 2rem;
            background-color: fade-out($grey-dark, .875);
            height: 3px;
            margin-top: .25em;
        }
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        $color-lightning: max((100% - lightness($color)) - 2%, 0%);
        $color-luminance: colorLuminance($color);
        $darken-percentage: $color-luminance * 70%;
        $desaturate-percentage: $color-luminance * 30%;
        &.is-#{$name} {
            .message-header {
                background-color: transparent;
                color: desaturate(darken($color, $darken-percentage), $desaturate-percentage);
                border-style: solid;
                border-color: $color;
                border-width: $message-body-border-width;
                &:after {
                    background-color: fade-out(desaturate(darken($color, $darken-percentage), $desaturate-percentage), .875);
                }
            }
            .message-body {

            }
        }
    }
}

.text-block {
    font-family: $family-block;
    text-transform: uppercase;
    font-weight: $weight-normal;
}

.fooicon {
    &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
    }
}

.styleguide {
    &__list {
        &-entry {
            width: 100%;
            border-bottom: solid 1px $grey-light;
        }
        &-link {
            display: block;
            padding: .5rem .875rem;
            &:hover {
                background-color: #fafafa;
            }
        }
    }
    &__pronunciation {
        flex-basis: 100%;
        font-size: 2rem;
        color: $grey-light;
    }
}

.nav-links {
    display: block;
    
}