.wp-caption {
	margin-bottom: 1.5rem;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
    &-text {
        margin: 0.8075rem 0;
        font-size: .875rem;
        text-align: center;
        line-height: 1.2;
        color: $grey-dark;
    }
}
