.gallery {
	margin-bottom: 1.5rem;
    display: flex;
    @extend .columns;
    /*@extend .is-mobile;*/
    @extend .is-multiline;
    &-item {
        /*display: inline-block;*/
        text-align: center;
        vertical-align: top;
        /*width: 100%;*/
        @extend .column;
        margin: 0 !important;
        .gallery-columns-2 & {
            @extend .is-6-mobile;
        }
        .gallery-columns-3 & {
            @extend .is-6-mobile;
            @extend .is-4-tablet;
        }
        .gallery-columns-4 & {
            @extend .is-6-mobile;
            @extend .is-3-tablet;
        }
        .gallery-columns-6 & {
            @extend .is-6-mobile;
            @extend .is-2-tablet;
        }

        // Loops to enumerate the classes for gallery columns.
        //@for $i from 2 through 9 {
            //.gallery-columns-#{$i} & {
                //max-width: map-get( $columns, $i );
            //}
        //}
    }
    &-caption {
        display: block;
        @extend .column;
        @extend .is-12;
    }
}