.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-form {
    &-comment {
        @extend .field;
        label {
            @extend .label;
        }
        textarea {
            @extend .textarea;
        }
    }
    .form-submit {
        .submit {
            @extend .button;
        }
    }
}

.comments-area {
    &__title {
        
    }
    &__comments-list {
        
    }
    &__comment-author {
        @extend .title;
        @extend .is-5;
        margin-bottom: 0;
    }
    &__comment-buttons {
        @extend .buttons;
        .comment-reply-link {
            @extend .button;
            @extend .is-light;
        }
    }
    &__comment-content {
        @extend .content;
    }
    .comment-body {
        @extend .media
    }
}